.cart-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: indigo;
  color: lightcyan;
}

.cart-inner {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.cart-container .close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 20px;
}

.cart-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.cart-container th {
  text-transform: lowercase;
  color: rgb(223, 169, 163);
  font-variant: small-caps;
  padding: 10px 0;
}

.cart-container table,
.cart-container th,
.cart-container td {
  border: 1px solid white;
}
