.product-box {
  width: 100%;
  box-sizing: border-box;
  border: var(--items-border);
  padding: 20px;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.product-category {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
  text-transform: lowercase;
  font-variant: small-caps;
}

.product-image {
  margin: 20px 0 0 0;
  background:white;
  padding: 20px;
  border-radius: 10px;
}

.product-image img {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  object-fit: cover;
}

.product-title {
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 0 0;
  background: white;
  padding: 2px 10px;
}

.product-action {
 display:flex;
 flex-direction: column;
 justify-content: center;
 margin: 20px 0;
}


.product-action input {
  width: 30px;
  margin-left: 4px;
  text-align:center;
}


.product-action button {
  display: block;
  margin-top: 20px;
}
