.product-box {
  width: 20%;
  box-sizing: border-box;
  border: 1px dashed indigo;
  padding: 0;
  margin: 10px;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.product-category {
  box-sizing: border-box;
  background: indigo;
  padding: 0 20px;
  font-size: 20px;
  color: white;
}

.product-image img {
  display: block;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  object-fit: cover;
}

.product-action {
  align-self: flex-end;
}
