:root {
  --secondary-color: lavender;
  --primary-color: indigo;
  --tertiary-color: rgb(223, 169, 163);
  --items-border: 1px dotted rgba(76, 0, 130, 0.425);
  --main-horizontal-padding: 0 5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
}

